$backgroundColor-nav:  rgb(164, 191, 255);
$backgroundColor-component: rgb(182, 221, 255);
$backgroundColor-compList: rgb(146, 226, 252);
$backgroundColor-elemList: rgba(50, 39, 255, 0.438);
$backgroundColor-elemList-p: rgba(124, 118, 255, 0.4);
$backgroundColor-inputForm:  #ffffffa2;
$backgroundColor-inputFormSubmit: #4498ff;
$backgroundColor-camp_Button: #ff404098;

//zadbać o RDW
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    background-color: rgb(182, 221, 255);
}
.nav {
    display: flex;
    justify-content: center;
    background-color: $backgroundColor-nav;
    padding: 10px 0 15px 0;
    p {
        margin: auto 10px;
        color: black;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: $backgroundColor-nav;
    }
}
.component {
    background-color:$backgroundColor-component;
    height: 100%;
    h1 {
        padding: 20px 0;
        text-align: center;
        font-size:2.2rem;
        font-family: 'Roboto Condensed', sans-serif;
    }
}
.compList {
    padding: 25px 0;
    margin:0 auto 20px auto;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    background-color: $backgroundColor-compList;
    .camp_button {
        margin-left: 10px;
        height: 22px;
        width: 39px;
        padding-bottom: 2px;
        border-radius: 3px;
        border: 1px ridge rgb(255, 0, 0);
        background-color: $backgroundColor-camp_Button;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
}
.elemList {
    padding: 20px;
    margin: auto;
    text-align:left;
    border: 1px solid #00ff08a2;
    width: 400px;
    font-family: 'Roboto Slab', serif;
    background-color: $backgroundColor-elemList;
    p {
        word-wrap: break-word;
        padding: 5px 0 5px 15px;
        margin:5px;
        background-color: $backgroundColor-elemList-p;
    }
}
.form-to-add {
    height: 300px;
    width: 300px;
    padding: 19px 19px 35px 19px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px outset rgba(3, 62, 255, 0.708);
    border-radius: 13px;
    align-items: center;
    .inputForm {
        margin: auto;
        width: 200px;
        height: 25px;
        padding: 12px 20px;
        background-color: $backgroundColor-inputForm;
        border: 1px solid #fffefe;
        border-radius: 4px;
    }
    .content {
        width: 230px;
        height: 70px;
    }
    .inputFormSubmit{
        margin: auto;
        width: 150px;
        height: 42px;
        border-radius: 10px;
        border: 4px ridge rgb(121, 155, 255);
        background-color:  $backgroundColor-inputFormSubmit;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 500;
        padding-bottom: 3px;
    }
    .form-p {
        margin: 0 20px;
    }
    .margin {
        height: 20px;
    }
}
.campaignForm {
    padding: 15px 0 10px 0;
    p {
        padding: 0 103px;
        letter-spacing: 2px;
    }
    .inputForm {
        letter-spacing: 2px;
        padding: 0 4px;
        font-size: 70%;
    }
}